{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="text-center">
    <h1>Welcome to My Portfolio</h1>
    {% if searchTitle %}
    Pencarian untuk <strong>{{ searchTitle }}</strong>
    {% else %}
    <p class="lead">Explore my projects and learn more about me!</p>
    {% endif %}
    
    <br>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <p class="text-muted">Date: {{ project.date }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
